body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
  }
  
  .container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  input {
    padding: 10px;
    width: 150px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  #timerDisplay {
    font-size: 48px;
    margin-top: 20px;
  }

  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
  }
  
  .social-bar {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .social-icon {
    margin: 0 10px;
    display: inline-block;
  }
  
  .social-icon img {
    width: 24px;
    height: 24px;
    vertical-align: middle;
  }
  
  .container {
    text-align: center;
    padding: 80px 20px 20px; /* padding üstte 80px (üst bar yüksekliği), altta 20px */
    background-color: #f0f0f0;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  input {
    padding: 10px;
    width: 150px;
    border: 2px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  button:hover {
    background-color: #218838;
  }
  
  #timerDisplay {
    font-size: 48px;
    margin-top: 20px;
  }
  